.home{
    font-size: x-large;
    color: rgb(243, 149, 27);
    
}
.whoI{
    text-align: center;
    width: 40%;
    margin: auto;
    margin-top: 30px;
    color: rgb(198, 115, 6);
}
/* .bg{
    background-image: url("https://media1.giphy.com/media/i4jKn7itdV2Tvjzj6Y/giphy.gif?cid=ecf05e474fnlorhxj1w4nvx1njti09wgbroltgp48s2mwo8y&rid=giphy.gif&ct=g");
  width: 100%;
 
} */
.type{
    margin: auto;
    width: 80%;
    font-weight: bolder;
    font-size: 50px;
    color: #0c0c0c;
    
  }
  