#display{
    border: 0px solid black;
    width:80%;
    display: grid;
    grid-template-columns: repeat(4,200px);
    /* grid-template-rows: repeat(4,100px); */
    margin: auto;
    gap:10px;
   
}
.box{
border: 0px solid green;

justify-content: center;
text-align: center;
padding: 5px;
width:80%;
margin-top: 10px;
margin: auto;
box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;


 }
 
 .box>img{
    margin: auto;
    border: 0px solid red;
    
 }
 .box>h1{
    border: 0px solid rgb(88, 32, 220);
    width: 50%;
    margin: auto;
 }
 .box:hover{
    background-color: rgb(206,147,216);
 }
.images{
    width:80%;
    margin: auto;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
   
}
h1{
   color: white;
}