#display{
    border: 0px solid black;
    width:80%;
    display: grid;
    grid-template-columns: repeat(4,200px);
    /* grid-template-rows: repeat(4,100px); */
    margin: auto;
    gap:10px;
   
}
.box{
border: 2px solid green;
justify-content: center;
text-align: center;
padding: 5px;
width:80%;
height: 100%;
margin-top: 10px;
margin: auto;
box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;


 }
 
 .boxes{
   border: 0px solid rgb(111, 0, 128);
   
   justify-content: center;
   text-align: center;
   padding: 15px;
   width:80%;
   margin-top: 10px;
   margin: auto;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
   
   
    }

 .boxes>img{
    margin: auto;
    border: 0px solid red;
 }

 .tool{
   border: 0px solid green;
   justify-content: center;
   text-align: center;
   padding: 5px;
   width:80%;
   height: 100%;
   margin-top: 10px;
   margin: auto;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
   
   
    }
    
 .tool>img{
   margin: auto;
   border: 0px solid red;
   height: 70%;
  
}

.tool:hover{
   background-color: rgb(206,147,216);
   height:85%;
   border: 1px solid rgb(112, 7, 131);
}
 .boxes:hover{
   background-color: rgb(206,147,216);
   height: 87%;
   border: 1px solid rgb(112, 7, 131);
}
 .box>h1{
    border: 0px solid rgb(88, 32, 220);
    margin: auto;
    width: 50%;
 }
 .box:hover{
    background-color: rgb(206,147,216);
    width:85%;
 }
.images{
    width:80%;
    margin: auto;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
   
}
h1{
   color: white;
}